.grey {
    background-color: #F2F2F2;
}

footer{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
}