/* apply font Raleway */
@font-face {
    font-family: "Raleway";
    src: url("Raleway-Regular.ttf") format("truetype");
}

*
{
    font-family: "Raleway";
}

a{
    text-decoration: none;
    color: black;
}

.grey {
    background-color: #F2F2F2;
}

ul
{
    list-style-type: none;
}

h4
{
    font-weight:bolder;
}

h2{
    font-weight: bolder;
}

h1{
    font-weight: bolder;
}

/*//Define block//*/

#blocpage
{
    max-width: 1400px;
    margin: 0 auto;
}

/* /////Define header style////// */

header{
    display: grid;
    justify-content: space-between;
    grid-auto-columns: 7fr 2fr 1fr;
    grid-template-areas: 
    " logo nav subscribe";
}
.logo{
    max-width: 100px;
    grid-area: logo;
}

/* Define Nav Menu */

nav
{
    display: flex;
    grid-area: nav;
    padding-right: 70px;
}

nav p
{
    margin-left: 70px;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li
{
    margin-left: 70px;
}

nav a
{
    font-size: 0.9em;
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

nav a:hover
{
    border-top: #0065FC solid;
    padding-top: 20px;
    color: #0065FC;
    
} 

header p 
{
    grid-area: subscribe;
}

header p a{
    padding-left: 20px;
    padding-right: 20px;
}

header p a:hover
{
    border-top: #0065FC solid;
    padding-top: 20px;
}
header p strong{
    color: #0065FC;
}


/*/////search area/////*/

.search-field-box{
    display: flex;
}

.search-field-box input[type="text"]
{
    padding: 13px;
    width: 235px;
    border-color: #F2F2F2;
    border-style: solid;
    font-weight: bolder;
    font-size: 1em;
}
.submit-button
{
    color: white;
    background-color: #0065FC;
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-style: none;
    width: 135px;
    font-weight: bold;
    font-size: 1em;
}

.search-logo
{
    background-color: #F2F2F2;
    padding:15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.search-field-box
{
    margin-bottom: 20px;
}

.search-icon{
    display: none;
}

.filter-box
{
    display: flex;
    max-width: 928px;
    justify-content: space-between;
}

.filter-box strong
{
    padding: 15px;
    grid-area: filtres;
}
.filter-box i
{
    padding: 15px;
    border-radius: 50px;
}

.filter-box label
{
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 50px;
    padding-right: 20px;
    max-width: max-content;
}

.filter-box label:hover
{
    border-color:#BEEDFF;
    color: #0065FC;
}
.filter-box b
{
    padding-left: 10px;
}

.custom-box input[type="checkbox"],
.custom-box .checked{
    display: none;
}

.custom-box input[type="checkbox"]:checked~.checked{
    display: inline-block;
}

.custom-box input[type="checkbox"]:checked~.unchecked {
        display: none;
}

.unchecked
{
    color: #0065FC;
    background-color: #DEEBFF;
}

.checked{
    color: white;
    background-color: #0065FC; ;
}

.eco
{
    grid-area: eco;
}

.familial
{
    grid-area: familial;
}

.romantique
{
    grid-area: romantique;
}

.animaux

{
    grid-area: animaux;
}

/*////result display area////*/

/*//housing result//*/

.search-result
{
    display: flex;
    justify-content: space-between;
    max-height: 630px;
    margin-bottom: 70px;
}

.result-main
{
    display: flex;
    flex-direction: column;
    width: 880px;
    padding: 20px ;
    padding-right: 15px;
    border-radius: 10px;
    margin-right: 40px;
    flex-basis: content;
    min-height: 625px;
}

.resultcontainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 500px;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-right: 30px;
    column-gap: 30px;
}

/*Result boxes*/

.infologo{
    height: 20px;
    width: 20px;
    color: #0065FC;
    background-color: white;
    border: solid #F2F2F2;
    padding: 1px 8px 1px 8px;
    border-radius: 100px;
    margin-right: 12px;
}
 .imgresult
 {
     overflow: hidden;
     height: 117px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
 }

 .imgresult img
 {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
.result 
{
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 30px;
    width: 245px;
    height: 195px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);  
    margin: 10px auto;  
}

.result:hover
{
    color:#0065FC;
}

.result h4
{
    padding-left: 12px;
    margin-top: 4px;
    padding-top: 0px;
    margin-bottom: 5px;
}

.result p
{
    padding-left: 12px;
    padding-bottom: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.result .stars 
{
    padding-left: 12px;
    color: #0065FC;
}

.popinfo .stars
{
    padding-top: 16px;
}

.result .stars .greystar
{
    color: #F2F2F2;
}

.result-pic
{
    width: auto;
    height: 115px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.linkmore
{
    padding-left: 35px;
}
.linkmore:hover
{
    color: #0065FC;
}

/*//aside part (popular result)//*/

.iconepop
{
    margin-left: 100px;
}

.popularcontainer
{
    border-radius: 10px;
    padding-top: 40px;
    width: 420px;
    height: 625px;
    padding-right: 30px;
}

.popularcontainer h2
{
    text-align: center;
}

.resultcontainerpop
{
    display: flex;
    flex-direction: column;
}

.resultpop
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
    display: flex;
    width: 343px;
    height: 144px;
    padding: 5px; 
    margin: 10px auto;
}

.imgpop

{
    overflow: hidden;
    width: 128px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}

.imgpop img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.imgpopportrait

{
    overflow: hidden;
    width: 128px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
}

.imgpopportrait img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.resultpop:hover
{
    color:#0065FC;
}


.resultpop .stars 
{
    padding-left: 12px;
    color: #0065FC;
}

.resultpop p
{
    padding-left: 12px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pop2 p
{
    padding-bottom: 75px;
}
.resultpop h4
{
    padding-left: 12px;
    margin-top: 4px;
    padding-top: 0px;
    margin-bottom: 5px;
}

.resultpop .stars .greystar
{
    color: #F2F2F2;
}

/*///Activities///*/

.activities
{
    margin-bottom: 62px;
    justify-self: center;
}

.activities-box
{
    display: grid;
    height: 470px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "port pomegues calanques lagarde"
    "port frioul calanques longchamps";
    padding-left: 0px;
    column-gap: 27px;
}

.port
{
    grid-area: port;
}

.pomegues
{
    grid-area: pomegues;
}

.frioul 
{
    grid-area: frioul;
}
.calanques 
{
    grid-area: calanques;
}

.lagarde 
{
    grid-area: lagarde;
}

.longchamps 
{
    grid-area: longchamps;
}

.activities-result
{
    border-radius: 20px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.247);
    width: 330px;
    padding-bottom: 1px;
    margin: 0;
}

.frioul
{
    margin-top: 19px;
}

.longchamps
{
    margin-top: -2px;
}

.activities-result h4
{
    padding-left: 10px;
}

.actipic
{
    overflow: hidden;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
}

.actipic img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.pomactipic
{
    height: 200px;
}
.frioulactipic
{
    height: 130px;
}
.lagardeactipic
{
    height: 160px;
}
.longactipic
{
    height: 170px;
}
.bigactipic
{
    height: 430px;
}

.result-link:hover
{
    color: #0065FC;
    box-shadow: none;
}

/*//footer area//*/

footer{
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}
footer div
{
    padding-left: 20px;
}
footer a
{
    display: flex;
    color: black;
    text-decoration: none;
}
footer a:hover
{
    color: #0065FC;
}

footer div a
{
    padding-bottom: 10px;
}

/* //// Smallscreens rules ////*/

/*responsive*/

@media all and (max-width: 1220px)
{
    /*header*/

    #blocpage{
        width: 100%;
    }
    
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 15px;
        grid-template-areas: 
        "logo subscribe"
        "nav nav";
    }

    header p
    {
        justify-self: right;
    }

    nav
    {
        display: flex;
        border-bottom: solid #F2F2F2;
        padding-right: 0;
    }

    nav ul 
    {
        margin: 0;
        display: flex;
        width: 100%;    
        padding: 0;
    }

    nav ul li { 
        width: 50%;
        margin: 0;
        padding: 0;
    }

    nav ul li a { 
        width: 100%;
        display: inline-block;
        text-align: center;
        position: relative;
    }

    nav a:hover
    {
        border-top: none;
        padding-top: 0;
    }
    nav a:hover::after
    {
        content: "";
        display: inline-block;
        height: 2.5px;
        width: 100%;
        background-color: #0065FC;
        position: absolute;
        top: 47px;
        left: 0;
    }

    

    /*search area*/
    
    .filter-box{
        display: grid;
        flex-wrap: wrap;
        align-content: space-around;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "filtres filtres"
        "eco familial"
        "romantique animaux";
    }

    .filter-box label
    {
        margin-bottom: 10px;
        width: fit-content;
    }

    /*search result area*/

    .search-result{
        flex-direction: column-reverse;
        max-height: none;
    }
    
    .result-main{
        width: auto;
        background-color: white;
        margin: auto;
    }

    
    .resultcontainer
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px ;
        margin: 0 auto;
        padding-right: 0;
    }

    .result
    {
        width: 343px;
    }

    .linkmore
    {
        margin-top: 170px;
    }

    /*popular*/

    aside h2 
    {
        margin-left: auto;
    }

    aside ul
    {
        display: flex;
    }

    .resultcontainerpop{
        width: auto;
    }

    .popularcontainer{
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding-right: 0;
        
    }

    /*activities*/

    .activities
    {
        width: 100%;
    }
    
    .activities-box
    {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "port calanques pomegues" 
        "lagarde frioul longchamps";
        justify-content: space-between;
    }

    .longchamps
    {
        margin-top: 2px;
    }

    .frioul
    {
        margin-top: 0;
    }
    
    
    .actipic
    {
        width:100%;
        height:135px;
    }

    .activities-result h4 
    {
        padding-left: 10px;
    }

    .activities-result
    {
        margin-top: 20px;
        width: 343px;
    }

    /*Footer*/
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        padding-left: 20px;
    }

    footer div 
    {
        margin-bottom: 20px;
    }
}

/*small responsive*/

@media all and (max-width : 1100px)
{
    #accroche
    {
        width: 350px;
        margin-left: 10px;
    }

    nav{
        padding-right: 30px;
    }
    /*result field mini*/


    .block-result .infotext{
        margin-left: 10px;
    }
    .search-result{
        display: flex;
        flex-direction: column-reverse;
        max-height: none;
        margin: 0 auto;
    }

    .result-main{
        width: auto;
        background-color: white;
        margin: auto;
        padding-left: 0px;
    }

    .result-main h2{
        padding-left: 0px;
    }
    .resultcontainer
    {
        display: flex;
        flex-wrap: wrap;
        max-height: none;
        padding-left: 0px;
    }

    .linkmore{
        padding-left: 10px;
        margin-top: -5px;
    }
    /*search field mini*/

    form 
    {
        margin-left: 10px;
    }
    .submit-button
    {
        display: none;
    }
    .search-icon {
        display: flex;
        color: white;
        width: 50px;
        height: 50px;
        background: #0065FC;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px ;
        border-color: #0065fc00;
        margin: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    /*filter box mini*/

    .filter-box{
        display: grid;
        flex-wrap: wrap;
        align-content: space-around;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "filtres filtres"
        "eco familial"
        "romantique romantique"
        "animaux animaux";
    }

    .custom-box{
        height: 45px;
    }

    .eco{
        margin-right: 10px;
        display: flex;
    }

    .eco b 
    {
        padding-top: 12px;
    }

    /*popular mini*/

    .popularcontainer
    {
        margin-top: 10px;
        width: 100%;
    }

    .resultcontainerpop{
        padding-left: 0px;
    }

    

    /*Activities mini*/

    .activities
    {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-bottom: 880px;
    }

    .activities h2
    {
        margin-left: 10px;
    }


    .activities-box
    {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "port"
        "pomegues"
        "frioul"
        "calanques"
        "lagarde"
        "longchamps";
    }

    footer{
        padding-left: 0px;
        width: 100%;
    }
}